extends admin_layout

block admin_content
    table.u-full-width
        thead
            tr
                th Magicians
                th Users
                th Messages
        tbody
            tr
                td= magician_count
                td= user_count
                td= message_count