extends layout

block content
    .container.admin
        nav
            ul
                li
                    a(href="/admin") Admin
                li 
                    a(href="/dashboard") Dashboard
                li
                    a(href="/admin/magicians") Magicians

        block admin_content