extends layout

block content
    script.
        var users = !{JSON.stringify(users)}
        var magician = !{JSON.stringify(magician)}
    .dashboard
        .sidebar
            .header
                h2.title= displayTitle
                button.add +
            .message-list
            .footer 
                span.email=magician.email
                | &nbsp;-&nbsp;
                a(href="/login/quit") Sign out

        .messages
            .header 
            .body
            .input
                input(type="text" autofocus="true")
        .info
            form
                label(for="name") Name
                input.u-full-width(type="text" id="name")
                label(for="address") Address
                textarea.u-full-width(type="text" id="address")
                label(for="notes") Notes
                textarea.u-full-width(type="text" id="notes")
                input(type="submit" value="update")
            hr
            form
                label(for="amount") Charge
                input.u-full-width(type="number" id="amount")
                input(type="submit" value="charge")
