extends layout

block content
    .container.homepage
        h1.logo= name
        h4 Text this phone number to get whatever you want on demand with no hassle:
        h2.number= number
        div(class='container')
        a.button(href="/login") login
