doctype html
html
    head
        title= title
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/stylesheets/normalize.css")
        link(rel="stylesheet", href="/stylesheets/skeleton.css")
        link(rel="stylesheet", href="/stylesheets/style.css")
        link(href="//fonts.googleapis.com/css?family=Courgette|Open+Sans:400,300,600" rel="stylesheet" type="text/css")
        script(src="https://cdn.socket.io/socket.io-1.2.0.js")
        script(src="//code.jquery.com/jquery-2.1.3.min.js")
        script(src="/react-0.12.2.js")
 
        script(type="text/javascript" src="/react/dashboard.jsx")
        script(type="text/javascript" src="/react/admin.jsx")
        script(src="/js/messages.js")
    body
        block content

