html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
    padding-top: 50px;
    font-family: 'Open Sans', sans-serif;
}

.homepage {
    text-align: center;
    h4 {
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
    }
    .number {
        color: green;
        font-weight: bold;
    }
}

.dashboard {
    .sidebar, .messages, .info {
        height: 100%;
        position: absolute;
        top: 0px; bottom: 0px;
        border-right: 1px solid #999;
        font-weight: 300;
    }
    .sidebar {
        left: 0px;
        width: 320px;
        background-color: #303E4D;
        color: white;
        .header {
            width: 100%;
            height: 60px;
            background-color: darken(#303E4D, 5%);
            h2.title {
                font-family: 'Courgette', cursive;
                font-size: 30px;
                padding: 11px 15px;
                display: inline-block;
            }
            button {
                position: absolute;
                height: 40px;
                margin: 10px;
                right: 0px;
                top: 0px;
                border-radius: 50%;
                width: 40px;
                padding: 0px;
                font-size: 30px;
                color: white;
                background-color: rgb(38, 119, 38);
                border: 0px;
                &:active {
                    background-color: rgb(39, 148, 39);
                }
            }
        }
        .message-list {
            height: calc(~"100% - 60px - 50px");
            overflow-y: auto;
            width: 100%;
            color: rgba(255, 255, 255, 0.9);
            .item:first-child {
                padding-top: 20px;
            }
            .item {
                cursor: pointer;
                width: 100%; 
                padding: 10px 15px;
                h4 {
                    margin: 0px;
                    font-size: 20px;
                }
                p {
                    margin: 0px 0px 10px 0px;
                    color: rgba(255, 255, 255, 0.5);
                }
                &:hover {
                    background-color: rgba(255, 255, 255, 0.05);
                }
                &.active, &.active:hover {
                    background-color: rgba(255, 255, 255, 0.1);
                    p {
                        color: rgba(255, 255, 255, 0.6);
                    }
                }
            }
            .status {
                font-size: 14px;
                display: inline-block;
                padding-left: 10px;
                &.new {
                    color: rgb(52, 205, 52);
                }
                &.active {
                    color: rgb(0, 226, 255);
                }
                &.complete {
                    color: rgb(229, 41, 41);
                }
            }
        }
        .footer {
            height: 30px;
            text-align: center;
            padding: 10px;
        }
    }
    .messages {
        width: calc(~"100% - 570px");
        left: 320px;
        background-color: rgba(0, 0, 0, 0.2);
        & > div {
            height: 100%;
        }
        .header {
            text-align: center;
            width: 100%;
            height: 50px;
            background-color: rgba(0, 0, 0, 0.1);
            h3.title {
                font-size: 25px;
                padding: 7px;
            }
        }
        .body {
            height: calc(~"100% - 130px");
            overflow-y: auto;
            padding-bottom: 200px;
            transition: all 1s;
            .message-wrapper {
                padding: 10px 10px 0 10px;
            }
            .you, .me{
                padding: 10px;
                width: 100%;
                border-radius: 5px;
            }            
            .me {
                color: white;
                background-color: #303E4D;
            }
            .you {
                background-color: #eee;
            }
        }
        .input {
            height: 80px;
            position: relative;
            .status {
                position: absolute;
                top: 0px;
                font-size: 14px;
                left: 15px;
            }
            input {
                margin: 25px 10px 5px 10px;
                height: 40px;
                border: 1px solid #999;
                width: calc(~"100% - 20px");
            }
        }
    }
    .info {
        right: 0px;
        width: 250px;
        padding: 10px;
        background-color: #303E4D;
        color: rgba(255, 255, 255, 0.9);
        overflow-y: auto;
        input, textarea, select {
            background-color: grey; 
            color: rgba(255, 255, 255, 0.9);  
        }
    }
    input, textarea, select {
        border-color: darken(#303E4D, 10%);
        &:focus {
            border-color: lighten(#303E4D, 10%);
        }
    }
}

.admin {
    .explorer li, nav li {
        display: inline-block;
        margin-right: 10px;
    }
    .explorer {
        min-height: 300px;
        padding-bottom: 50px;
        ul {
            margin: 0px;
        }
        .editor {
            border: 1px solid #999;
            border-radius: 5px;
            padding: 10px;
            &.hidden {
                display: none;
            }
        }
    }
    .explorer-table {
        overflow-x: auto;
        &.loading {
            // background-color: #eee;   
            min-height: 300px;
            position: relative;
            &:after {
                content: "loading";
                position: absolute;
                text-align: center;
                width: 100%;
                color: #999;
            }
        }
        td {
            cursor: pointer;
        }
    }
}

.logo {
    font-family: 'Courgette', cursive;
}

a {
    color: #00B7FF;
} 

form {
    margin: 0px;
}
hr {
    margin: 5px 0px 10px 0px;
}
