html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
    padding-top: 50px;
    font-family: 'Open Sans', sans-serif;
}

.homepage {
    text-align: center;
    h4 {
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
    }
    .number {
        color: green;
        font-weight: bold;
    }
}

.dashboard {
    .sidebar, .message, .info {
        height: 100%;
        position: absolute;
        top: 0px; bottom: 0px;
        border-right: 1px solid #999;
    }
    .sidebar {
        left: 0px;
        width: 320px;
    }
    .message {
        width: calc(~"100% - 570px");
        left: 320px;
    }
    .info {
        right: 0px;
        width: 250px;
    }
}

.logo {
    font-family: 'Courgette', cursive;
}

a {
    color: #00B7FF;
} 
